:root{
    --vermelho:#E50914;
    --preta:#141414;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* elementos base */

body{
background-color: var(--preta);
font-family: arial,'Times New Roman', Times, serif;
color: white;
}

header .container {
 display: flex;
 flex-direction: row;
 align-items: center;
/* justify-content:space-between ; */
}

header .logoimg{
    width: 7%;
}

header nav a{
    text-decoration: none;
    color: azure;
    margin-right: 30px;
    font-size: 15px;

}

header nav a:hover{
    color: #aaa;
}
h1{
    padding-top: 20%;
}
.menu {
  /* margin-left: auto;
    margin-right: auto; */
    padding-left: 30px;
}



/* filme principal */

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/capa-house.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filme-principal .descricao{
    margin-bottom: 90px;
    margin-left: 5%;
}
.titulo{
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 2%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgb(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    margin-left: 2%;
    cursor: pointer;
    transition: .3s ease all;

}

.botao:hover {
    background-color: white;
    color: black;

}
.botao i{
    margin-right: 2px;
}
.filme-principal .container{
    width: 60%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrousel-filmes{
    margin-top: 3px;
    margin-left: 30px;
}
.box-filme{
    border-radius: 20px;
}

.titulo-ultimos-12-Meses{
    margin-top: 40px;
    margin-left: 30px;
}


/* modal teste   */
.btn{

    padding: 10px;
    background: blueviolet;
     color: white;
     cursor: pointer;
     display: inline-block; 
    left:50%;
    transform: translate(800%,100%);
}

.btn:hover{

    background: aliceblue;
    color: black;


}

.modal{

    width: 100%;
    height:100%;
    background-color: var(--preta);
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
    
}

@keyframes animate{

    from{opacity: 1;}
    from{opacity: 0;}
}


.fechar{

    width: 10%;
    height: 5%;
    background-color: var(--preta);
  /*  border-radius: 50%; */
    float: right;
    cursor: pointer;
    font-size: 25px;
    text-align: center;
    color: #aaa;
}


.modal1{

    width: 100%;
    height:100%;
    background-color: var(--preta);
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
    
}

.modal2{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
    
}

.modal3{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
    
}

.modal4{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
    
}

.modal5{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
    
}

.modal6{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
    
}

.modal7{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
    

     
}
.modal8{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
    

     
}
.modal9{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
    

     
}

.modal10{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
}
.modal11{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
}
.modal12{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
}
.modal13{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
}
.modal14{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
}
.modal15{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
}
.modal16{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
}
.modal17{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
}
.modal18{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
}
.modal19{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
}
.modal20{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
}
.modal21{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
}
.modal22{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
}
.modal23{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
}
.modal24{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
}
.modal25{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
}
.modal26{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
}
.modal27{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
}
.modal28{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
}
.modal29{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
}
.modal30{

    width: 100%;
    height:100%;
    background-color: rebeccapurple;
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
}
.modal31{

    width: 100%;
    height:100%;
    background-color:var(--preta);
    position: absolute;
   /*  top: 50%;
     left: 50%;
     transform: translate(-50%,-50%); */
     left:50%;
     transform: translate(-50%,0%);
     display: none;
     animation: animate;
     animation-duration: 800ms;
}